/*GLOBAL RESETTING*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

/*GENERAL GAMEBOARD STYLE*/

#game-board{
    padding: 3rem;

}

#game-board div > h1 {
    margin-top: 1rem;
    font-size: 3rem;
    color:rgba(195, 164, 113, 1);
    text-align: center;
}

/*THE AREA WHERE THE USER WILL PLAY*/
#game-area{
    --columns:5;
    --rows:1;
    background-color: rgba(255,255,255, 0.20);
    border: 0.30rem solid rgba(195, 164, 113, 1);
    width: 100%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    justify-items: center;
    align-items: center;
    min-height: 100vh;

}

/*CARD STYLE*/
.game-card{
    position: relative;
    display: inline-block;
    border: 0.35rem solid rgba(195, 164, 113, 0.6);
    border-radius: 0.2rem;
    width: 60%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotateY(-180deg);
}


.game-card::before{
    opacity: 0;
    transition: opacity 0.25s 0.1s ease-in-out;
    position: absolute;
    inset: 0; /*TOP, RIGHT, LEFT, BOTTOM*/
    content: '';
    background-color: black;
    background-image: url('../images/background-card.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform:rotateY(180deg);
}

.game-card.covered::before{
    opacity: 1;
}

/*STYLE FOR FLIPPING CARD*/
.game-card.flip{
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    transform: rotateY(180deg);
}


/*CONTROL AREA STYLE*/
.btn{
    font-size: 25pt;
    margin: 1rem;
    padding: 0.50rem;
    border: 0.2rem solid;
    border-image: linear-gradient(-100deg, #c3a471, #000000) 1;
    border-radius: 0.1rem;
    background-color: rgba(255,255,255, 0.2);
    color:rgba(195, 164, 113, 0.5);
}

.btn:hover{
    background-color: rgba(255,255,255, 0.5);
    color:rgba(195, 164, 113, 1);
}


/*MODAL STYLE*/
dialog{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 90%;
    margin:5rem auto;
    background-color: rgba(255,255,255, 0.5);
    color:rgba(195, 164, 113, 1);

}

dialog::backdrop{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.5);
}

/*SCORE STYLE AREA*/
#score-board{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scores{
    margin-top: 1rem;
    font-size: 2.5rem;
    color:rgba(195, 164, 113, 1);
    text-align: center;

}




