/*GLOBAL RESETTING*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

/*GENERAL GAMEBOARD STYLE*/
#game-board div > h1 {
    margin-top: 1rem;
    font-size: 3rem;
    color:rgba(195, 164, 113, 1);
    text-align: center;
}
